<div class="container py-5">
    <div class="row justify-content-md-center">
        <div class="col-12" style="word-wrap:break-word;">
            <div class="text-center py-4 px-5">
                <h1 class="display-1 text-primary"><strong>Home</strong></h1>
                <button ng-click="executeTemplate()">executeTemplate</button>
                <button ng-click="executeZip()">executeZip</button>

                <div id="compiled"></div>
                <p id="compiledPre"></p>
            </div>
        </div>
    </div>
</div>